<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="bootstrap-theme.css" type="text/css">
	<link rel="stylesheet" href="bootstrap-theme.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery_menu.js"></script>
   <script src="js/animation.js"></script>
</head>
<body>
	
      
     <section class="container">
	        <div class="row">
	           <div id="carousel-id" class="carousel slide" data-ride="carousel">
	             <ol class="carousel-indicators">
	               <li data-target="#carousel-id" data-slide-to="0" class=""></li>
	               <li data-target="#carousel-id" data-slide-to="1" class=""></li>
	               <li data-target="#carousel-id" data-slide-to="2" class="active"></li>
	             </ol>
	             <div class="carousel-inner">
	               <div class="item">
	                  <%= image_tag("1.jpg",
	                    alt: "Image description here",
	                    class: "img-responsive") %>
	                  <div class="carousel-caption">
	                    <button type="button" class="btn btn-success">Ruby on Rails</button>
	                    <p class="rubyonrails">Ruby on Rails là một Framework mạnh mẽ và đầy thú vị được phát triển trên ngôn ngữ lập trình Ruby.</p>
	                  </div>
	               </div>
	               <div class="item">
	                    <%= image_tag("2.jpg",
	                    alt: "Image description here", 
	                    class: "img-respponsive") %>
	                  <div class="carousel-caption">
	                    <button type="button" class="btn btn-primary">Ruby on Rails</button>
	                      <strong>
	                          <p class="ruby"> Ruby on Rails là một Framework mạnh mẽ và đầy thú vị được phát triển trên ngôn ngữ lập trình Ruby.</p>
	                      </strong>
	                  </div>
	               </div>
	               <div class="item active">
	                     <%= image_tag("3.jpg",
	                    alt: "Image description here", 
	                    class: "img-respponsive") %>
	                    <div class="carousel-caption">
	                      <button type="button" class="btn btn-success">Ruby</button>
	                        <p class="content">là một ngôn ngữ lập trình hướng đối tượng, có khả năng phản ứng. Ruby bị ảnh hưởng từ Ada và Perl với các đặc tính hướng đối tượng của Smalltalk, và cũng chia sẻ một số đặc tính với Python, Lisp, Dylan và CLU. Ruby là ngôn ngữ thông dịch đơn giai đoạn</p>
	                    </div>
	               </div>
	             </div>
	             <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	             <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	        </div>
    </section>

    <section class="container">
        <div class="row">
          <div class="title">
         	    <h1 style="margin-top: 10px">
           	      <marquee width="100%" behavior="alternate">
           	        	XÂY DỰNG WEBCRAWLER BẰNG RAILS
    					    </marquee>
  				</h1>
          </div>
        </div>
    </section>

    <section class="container">
	   <div class="row">
	   	    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			    <header class="grnBxTit">
			        <h4>Tin Tức</h4>
			    </header>
			    <div class="grnBxCntGrn bx4Tbg">
			    	<div class="clF pdB5"></div>
		   			<div class="row">
				        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				        	<span class="imgFltT4 imgNwsHm">
		                        <a>
		                           <img src="https://image.24h.com.vn/upload/2-2018/images/2018-05-11/thumbnail/1526025768-755-thumbnail.jpg" class="width-100 initial loaded">                
		                        </a>  
				            </span>
				        </div>
		        		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				            <header class="nwsTit">
				                <a  href="https://www.24h.com.vn/thi-truong-24h/nguoi-tieu-dung-thong-minh-hon-trong-viec-lua-chon-thiet-bi-lam-mat-c341a959008.html" >Người tiêu dùng thông minh hơn trong việc lựa chọn thiết bị làm mát</a>
				            </header>
		        		</div>
					</div>
		    
		            <div class="row news">
				        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				        	<span class="imgFltT4 imgNwsHm">
				                <a>
				                    <img src="https://image.24h.com.vn/upload/2-2018/images/2018-05-14/thumbnail/1526271397-14-thumbnail.jpg"  class="width-100 loaded">
				                </a>  
				            </span>
				        </div>
				        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			                <header class="nwsTit">
			                    <a  title="Hội nghị Dầu Gạo Quốc tế lần thứ 5 tổ chức tại Việt Nam">Hội nghị Dầu Gạo Quốc tế lần thứ 5 tổ chức tại Việt Nam</a>
			                </header>
				        </div>
		            </div>
		       
		            <div class="row news">
		            	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		            		<span class="imgFltT4 imgNwsHm">
		                        <a href="">
		                            <img src="https://image.24h.com.vn/upload/2-2018/images/2018-05-15/thumbnail/bat-dong-san-ho-tay-av-1526348867-737-width640height480.jpg" alt="BĐS Hồ Tây trong mắt người nước ngoài" class="width-100 loaded">
		                        </a>  
		                    </span>
		            	</div>
		            	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			                <header class="nwsTit">
			                    <a  href="https://www.24h.com.vn/tin-tai-chinh-nha-dat-bds/bds-ho-tay-trong-mat-nguoi-nuoc-ngoai-c679a959809.html" title="BĐS Hồ Tây trong mắt người nước ngoài">BĐS Hồ Tây trong mắt người nước ngoài</a>
			                </header>
		            	</div>
		            </div>
		            
		            <div class="row news">
		            	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		            	 	<span class="imgFltT4 imgNwsHm">
		                    	<a>
		                        	<img src="https://image.24h.com.vn/upload/2-2018/images/2018-05-07/thumbnail/untitled-1-1525687216-286-width640height480.jpg"   class="width-100 loaded" >
		                        </a>  
		                   </span>
		            	</div>
		            	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			                <header class="nwsTit">
			                    <a  href="https://www.24h.com.vn/tin-tuc-suc-khoe/canh-bao-nguy-hiem-khon-luong-khi-nguoi-tre-cao-huyet-ap-c683a958014.html" title="Cảnh báo: Nguy hiểm khôn lường khi người trẻ cao huyết áp">Cảnh báo: Nguy hiểm khôn lường khi người trẻ cao huyết áp</a>
			                </header>
		            	</div>
		            </div>
		            <div class="clear"></div>
		        </div>  
		        <header class="grnBxTit"><h4>Doanh Nhân</h4></header>
		    	    <div class="grnBxCntGrn bxDnh">
				    	<div class="clF pdB10"></div>
					    <div class="row ">
					    	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					    	 	<span class="imgFlt imgNwsSml">
					                <a href="https://www.24h.com.vn/tai-chinh-bat-dong-san/hanh-trinh-mark-zuckerberg-dua-facebook-thong-tri-the-gioi-c161a960007.html">
					                    <img src="https://image.24h.com.vn/upload/2-2018/images/2018-05-15/thumbnail/1526381787-525-152638164619466-thumbnail.jpg"  class="width-100 initial loaded" > 
					                </a>           
		            			</span>
					    	</div>
					    	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					    		<header class="nwsTit">
		            	           <a href="https://www.24h.com.vn/tai-chinh-bat-dong-san/hanh-trinh-mark-zuckerberg-dua-facebook-thong-tri-the-gioi-c161a960007.html" >Hành trình Mark Zuckerberg đưa Facebook thống trị thế giới
		            	           </a>
		            	        </header>
		            	        Hiện nay, Facebook đã có giá trị khoảng 536 tỷ đô la và có hơn 2,2 tỷ người sử...            
		            	        <div class="clF pdB10"></div>
					    	</div>
					    </div>

		                <div class="lstNws">
		                    <article class="lstNml">
			                    <span class="icoSpites"></span>
			                    <a href="https://www.24h.com.vn/tai-chinh-bat-dong-san/can-canh-khu-dat-vang-so-8-12-le-duan-vua-duoc-kien-nghi-thu-hoi-c161a959949.html" >Cận cảnh khu đất "vàng" số 8-12 Lê Duẩn vừa được kiến nghị thu hồi</a>
		                    </article>
		                     <article class="lstNml">
		                     	<span class="icoSpites"></span>
		                     	<a  href="https://www.24h.com.vn/tai-chinh-bat-dong-san/8-cau-chuyen-truyen-cam-hung-tu-ty-phu-jack-ma-c161a959829.html" >8 câu chuyện truyền cảm hứng từ tỷ phú Jack Ma</a></article>
		                    <article class="lstNml">
		                    	<span class="icoSpites"></span>
		                    	<a  href="https://www.24h.com.vn/tai-chinh-bat-dong-san/tu-tho-rua-xe-den-ong-trum-so-huu-de-che-ty-do-marvel-avengers-c161a959622.html" >Từ thợ rửa xe đến ông trùm sở hữu đế chế tỷ đô Marvel 'Avengers'</a>
		                    </article>
		                    <article class="lstNml">
		                    	<span class="icoSpites"></span>
		                    	<a  href="https://www.24h.com.vn/tai-chinh-bat-dong-san/hon-32000-ty-dong-no-thue-troi-theo-nguoi-chet-nguoi-mat-tich-c161a958795.html" >Hơn 32.000 tỷ đồng nợ thuế “trôi” theo người chết, người mất tích?</a>
		                    </article>
		                </div>  
		            </div>      
		    </div> 

		    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
		    	<strong>
		    		<h1 class="title_content">echo "the_title" ;</h1>
		    	</strong>

		    	<div class="content">
		    		  the_content
		    	</div>
		    </div>
            

	   </div>
    </section>

</body>
</html>